<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-md-2'>
      <h1>Editing</h1>
      <%= render 'form', article: @article %>
      <%= link_to "Back", articles_path %> |
      <%= link_to "Show", article_path(@article[:id]) %>
    </div>
  </div>
</div>
